<table id="bodyHeader" width="100%">
    <tbody>
        <tr>
            <td valign="middle" style="padding:0;height: 88px;">
                <p style="font-size:13px; font-weight:bold;color:#2C3B47;padding:0;">An invitation to join the discussion</p>
                <p style="font-size:22px; font-weight:bold;color:#2C3B47;">{{topic.title}}</p>
            </td>
        </tr>
    </tbody>
</table>
<table id="bodyContent" border="0" cellpadding="10" cellspacing="0" width="100%">
    <tbody>
        <tr>
            <td valign="middle" valign="middle" style="padding-bottom: 16px;">
                Hi {{toUser.name}}!
            </td>
        </tr>

        <tr>
            <td valign="middle" style="padding-bottom: 16px;">
                User <b>{{fromUser.name}}</b> from topic <b>{{topic.title}}</b> is inviting you to join the discussion
            </td>
        </tr>

        {{#message}}
        <tr>
            <td valign="middle">
                <i>{{message}}</i>
            </td>
        </tr>
        {{/message}}
        <tr>
            <td valign="middle" style="padding-top: 32px;">
                <table class="info_table">
                    <tbody>
                        <tr>
                            <td>
                                <p style="font-size: 13px; color:#727C84; line-height: 16px;padding:0;">Topic title</p>
                                <p style="color:#1168A8; font-size: 16px;font-weight: 600;line-height:24px;padding: 0;">
                                    {{topic.title}}</p>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding-top: 16px">
                                <p style="font-size: 13px;color:#727C84;line-height:16px;padding:0;">Status</p>
                                <p style="color:#1168A8; font-size: 16px;font-weight: 600;line-height:24px;padding: 0;">
                                    {{topic.status}}
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding-top: 16px">
                                <p style="font-size: 13px;color:#727C84;line-height:16px;padding:0;">Participants</p>
                                <p style="font-size: 16px;font-weight: 600;line-height:24px;padding: 0;">
                                    {{memberCount}}
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding-top: 16px">
                                <p style="font-size: 13px;color:#727C84;line-height:16px;padding:0;">Latest activity</p>
                                <p style="font-size: 16px;font-weight: 600;line-height:24px;padding: 0;">
                                    {{latestActivity}}
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td style="padding-bottom: 32px;">
                <p
                    style="font-size:14px; line-height: 16px; border-radius:16px; padding: 10px; background-color: #2C3B47; color:#FFFFFF;text-align: center;">
                    <a href="{{linkViewTopic}}" target="_blank"
                        style="color:#FFFFFF; text-decoration: none; font-weight: 600;">Join the discussion</a>
                </p>
            </td>
        </tr>
        <tr>
            <td valign="bottom" style="border-top: 1px solid #E1E7EE;padding-top:16px;font-size:14px;">
                Please note: You must log in using the same email address ({{toUser.email}}) to access this topic.
            </td>
        </tr>

    </tbody>
</table>