<table id="bodyHeader" width="100%">
    <tbody>
        <tr>
            <td valign="middle" width="72">
                <img src="cid:header_icon.png" />
            </td>
            <td valign="middle">
                <p style="font-size:13px; font-weight:bold;color:#2C3B47;">An invitation to</p>
                <p style="font-size:22px; font-weight:bold;color:#2C3B47;">{{group.name}}</p>
            </td>
        </tr>
    </tbody>
</table>
<table id="bodyContent" border="0" cellpadding="10" cellspacing="0" width="100%">
    <tbody>
        <tr>
            <td valign="middle">
                <p style="font-size:16px; color:#2C3B47;">Hi {{toUser.name}}!</p>
            </td>
        </tr>

        <tr>
            <td valign="middle">
                <p style="color:#2C3B47;">User {{fromUser.name}} from group <b>{{group.name}}</b> is
                    inviting you to join this group</p>
            </td>
            {{#message}}
            <td>
                <p style="color:#2C3B47;">
                    {{message}}
                </p>
            </td>
            {{/message}}
        </tr>
        <tr>
            <td valign="middle">
                <table id="info_table">
                    <tbody>
                        <tr>
                            <td>
                                <p style="font-size: 13px; color:#727C84; line-height: 16px;">Group name</p>
                                <p style="color:#1168A8; font-size: 16px;font-weight: 600;line-height: 24px;">
                                    {{group.name}}</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>{{group.description}}</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <p
                    style="font-size:14px; line-height: 16px; border-radius:16px; padding: 10px; background-color: #2C3B47; color:#FFFFFF;text-align: center;">
                    <a href="{{linkViewGroup}}" target="_blank"
                        style="color:#FFFFFF; text-decoration: none; font-weight: 600;">Join group</a>
                </p>
            </td>
        </tr>
        <tr>
            <td valign="bottom" height="30" style="border-top: 1px solid #E1E7EE;padding-top:16px;">
                <p style="font-size:14px;">Please note: You must log in using the same email address ({{toUser.email}})
                    to access this group.</p>
            </td>
        </tr>

    </tbody>
</table>