<table id="bodyHeader" width="100%">
    <tbody>
        <tr>
            <td valign="middle"
                style="font-size:22px;line-height:24px; font-weight:600;color:#2C3B47;padding:0;height: 88px;">
                Changes in the Citizen OS Platform User Experience
            </td>
        </tr>
    </tbody>
</table>
<table id="bodyContent" border="0" cellpadding="10" cellspacing="0" width="100%">
    <tbody>
        <tr>
            <td valign="middle" style="padding-bottom: 16px;">
                Dear {{toUser.name}},
            </td>
        </tr>
        <tr>
            <td style="color:#2C3B47; padding-bottom: 16px;">
                We would like to inform you about some recent changes to the Citizen OS platform.
            </td>
        </tr>
        <tr>
            <td style="color:#2C3B47; padding-bottom: 16px;">
                The platform is currently undergoing a period of redesign, the first phase of which is <a
                    href="https://app.citizenos.com" target="_blank">now live</a>. Further
                adjustments and new features will be rolled out over the coming months.
            </td>
        </tr>
        <tr>
            <td style="color:#2C3B47; padding-bottom: 32px;">
                If you have any questions or concerns about how this might affect your participation process, or want to
                make any requests, please drop Sara a message on <a
                    href="mailto:support@citizenos.com">support@citizenos.com</a>.
            </td>
        </tr>
        <tr>
            <td>
                <img style="margin-right: auto;margin-left: auto;" width="100%" height="auto" src="cid:dashboard.png"
                    alt="dashboard" />
            </td>
        </tr>
        <tr style="width: 100%;">
            <td style="width: 100%;font-style: italic;font-size: 12px;text-align: center;">
                The new dashboard
            </td>
        </tr>
        <tr>
            <td style="font-size:22px;line-height:24px; font-weight:600;color:#2C3B47;padding:0;height: 88px;">
                What’s new?
            </td>
        </tr>
        <tr>
            <td style="font-size:18px;line-height:20px; font-weight:600;color:#2C3B47;padding:0; padding-bottom: 8px;">
                New ways to navigate
            </td>
        </tr>
        <tr>
            <td valign="middle">
                <table class="info_table" style="padding: 0;">
                    <tbody>
                        <tr>
                            <td style="padding: 24px">
                                The way that you navigate the platform overall on both desktop and mobile has undergone
                                a major revamp. Our reason for these changes was to make it more intuitive and
                                user-friendly, to guide users more smoothly through their participation processes.
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>


        <tr>
            <td style="font-size:18px;line-height:20px; font-weight:600;color:#2C3B47;padding:0;padding-bottom: 8px;">
                Flexible topic phases
            </td>
        </tr>
        <tr>
            <td valign="middle">
                <table class="info_table" style="padding: 0;">
                    <tbody>
                        <tr>
                            <td style="padding: 24px">
                                Another significant change is the introduction of more flexible topic phases. You can
                                now choose whether to start your process with a discussion or with a vote. If you wish
                                to add a voting phase to a discussion topic, or a follow-up phase to any topic, you can
                                now do so whenever suits your process.
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td style="font-size:18px;line-height:20px; font-weight:600;color:#2C3B47;padding:0;padding-bottom: 8px;">
                Topic drafts and co-creators
            </td>
        </tr>
        <tr>
            <td valign="middle">
                <table class="info_table" style="padding: 0;">
                    <tbody>
                        <tr>
                            <td style="padding: 24px">
                                We have now introduced topic drafts. This means you can save your progress at any point
                                when creating a topic, and keep editing until ready to publish. We have also added a
                                feature to invite co-creators during the creation process, so that you can work on the
                                draft collaboratively.
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td style="font-size:18px;line-height:20px; font-weight:600;color:#2C3B47;padding:0;padding-bottom: 8px;">
                Changes to discussion features
            </td>
        </tr>
        <tr>
            <td valign="middle">
                <table class="info_table" style="padding: 0;">
                    <tbody>
                        <tr>
                            <td style="padding: 24px">
                                The structure of reply threads in a topic’s discussion phase have been adjusted to allow
                                for clearer
                                communication. The overall sentiment of ‘pro’ versus ‘con’ arguments is now visualised
                                too, to give an
                                overview of the feeling among participants.
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td style="font-size:18px;line-height:20px; font-weight:600;color:#2C3B47;padding:0;padding-bottom: 8px;">
                Topic and group information
            </td>
        </tr>
        <tr>
            <td valign="middle">
                <table class="info_table" style="padding: 0;">
                    <tbody>
                        <tr>
                            <td style="padding: 24px">
                                Both topics and groups now have information panels, which highlight key information to
                                participants. In
                                groups, it is now possible to add a group description, as well as rules of conduct for
                                members’
                                engagement.
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td style="font-size:18px;line-height:20px; font-weight:600;color:#2C3B47;padding:0;padding-bottom: 8px;">
                Tooltips and support
            </td>
        </tr>
        <tr>
            <td valign="middle">
                <table class="info_table" style="padding: 0;">
                    <tbody>
                        <tr>
                            <td style="padding: 24px">
                                Instead of a Help Centre, we now have tooltips with guidance in places where additional
                                explanation may
                                be helpful. We also now provide a step-by-step ‘create’ flow for new topics and groups,
                                as well as
                                walk-through tours of the dashboard and topic layouts. If you get stuck at any point, or
                                wish to give
                                some feedback, you can always drop us a message via the ‘Help’ button.
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td style="font-size:18px;line-height:20px; font-weight:600;color:#2C3B47;padding:0;padding-bottom: 8px;">
                Header and profile images
            </td>
        </tr>
        <tr>
            <td valign="middle">
                <table class="info_table" style="padding: 0;">
                    <tbody>
                        <tr>
                            <td style="padding: 24px">
                                You can now add images to topics and groups, in order to better brand or illustrate
                                them. Users profile
                                pictures also now show up next to their discussion contributions, for a more personal
                                interaction.
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <img style="margin-right: auto;margin-left: auto;" width="100%" height="auto" src="cid:topic.png"
                    alt="topic" />
            </td>
        </tr>
        <tr style="width: 100%;">
            <td style="width: 100%;font-style: italic;font-size: 12px;text-align: center; margin-bottom: 32px;">
                Step-by-step guidance to create new topics
            </td>
        </tr>
        <tr style="width: 600px;text-align: center;">
            <td style="width: 600px;text-align: center;padding-top: 32px;">
                <a class="platform_button" href="https://app.citizenos.com" target="_blank"
                    style="text-decoration: none; font-weight: 600;">Explore changes on the platform</a>
            </td>
        </tr>
        <tr>
            <td style="font-size:18px;line-height:20px; font-weight:600;color:#2C3B47;padding:0; padding-top: 32px;">
                Don’t hesitate to get in touch!
            </td>
        </tr>
        <tr>
            <td style="font-size:14px; color:#2C3B47; padding-bottom: 32px;">
                Please contact us at support@citizenos.com with any questions, concerns, suggestions or partnership
                offers.
            </td>
        </tr>

        <tr>
            <td valign="middle" style="border-top: 1px solid #E1E7EE;padding-top:16px;font-size:12px;">
                You are receiving this email as a registered user of the Citizen OS platform. This is a service update
                email, informing users about relevant changes affecting platform usage. We send such updates very rarely
                (2-3 times per year). Read our <a href="https://citizenos.com/legal/tou" target="__blank">Terms of
                    Use</a> to learn more.
            </td>
        </tr>
    </tbody>
</table>