<table id="bodyHeader" width="100%">
    <tbody>
        <tr>
            <td valign="middle" width="72">
                <img src="cid:header_icon.png"/>
            </td>
            <td valign="middle">
                <p style="font-size:22px; font-weight:bold;color:#2C3B47;">Password reset</p>
            </td>
        </tr>
    </tbody>
</table>
<table id="bodyContent" border="0" cellpadding="10" cellspacing="0" width="100%">
    <tbody>
        <tr>
            <td valign="middle">
                <p style="font-size:16px; color:#2C3B47;">Hi {{toUser.name}}!</p>
            </td>
        </tr>

        <tr>
            <td valign="middle">
                <p style="font-size:14px; color:#252525;">You requested to reset your password. Click the button below and  follow the instructions.</p>
                <p style="font-size:14px; line-height: 16px; border-radius:16px; padding: 10px; background-color: #2C3B47; color:#FFFFFF;text-align: center;">
                    <a href="{{linkReset}}" target="_blank" style="color:#FFFFFF; text-decoration: none; font-family: Open Sans; font-weight: 600;">Reset your password</a>
                </p>
            </td>
        </tr>

        <tr>
            <td valign="bottom" height="30">
                <p style="font-size:14px; color:#252525;">If you didn’t make this request, you can ignore this e-mail.</p>
            </td>
        </tr>

    </tbody>
</table>
