<table id="bodyHeader" width="100%">
    <tbody>
        <tr>
            <td valign="middle" style="font-size:22px; font-weight:bold;color:#2C3B47;padding:0;height: 88px;">
                Password reset
            </td>
        </tr>
    </tbody>
</table>
<table id="bodyContent" border="0" cellpadding="10" cellspacing="0" width="100%">
    <tbody>
        <tr>
            <td valign="middle" style="padding-bottom: 16px;">
                Hi {{toUser.name}}!
            </td>
        </tr>
        <tr>
            <td style="font-size:14px; color:#252525; padding-bottom: 32px;">You requested to reset your password. Click
                the button below and follow the instructions.</td>
        </tr>
        <tr>
            <td valign="middle">
                <p
                    style="font-size:14px; line-height: 16px; border-radius:16px; padding: 10px; padding-bottom: 10px; background-color: #2C3B47; color:#FFFFFF;text-align: center;">
                    <a href="{{linkReset}}" target="_blank"
                        style="color:#FFFFFF; text-decoration: none; font-weight: 600; padding:9px 140px;">Reset your password</a>
                </p>
            </td>
        </tr>

        <tr>
            <td valign="bottom" style="font-size:14px; color:#252525;padding-top: 32px;">
                If you didn’t make this request, you can ignore this email.
            </td>
        </tr>

    </tbody>
</table>
