<!-- E-mail sent to User who reported the Topic -->
<table id="bodyHeader" width="100%">
    <tbody>
        <tr>
            <td valign="middle" style="padding:0;height: 88px;">
                <p style="font-size:13px; font-weight:bold;color:#2C3B47;padding:0;">A moderator
                    has reviewed the topic you reported</p>
                <p style="font-size:22px; font-weight:bold;color:#2C3B47;">{{topic.title}}</p>
            </td>
        </tr>
    </tbody>
</table>
<table id="bodyContent" border="0" cellpadding="10" cellspacing="0" width="100%">
    <tbody>
        <tr>
            <td valign="middle" style="padding-bottom: 16px;">
                Hi {{userReporter.name}}!
            </td>
        </tr>
        <tr>
            <td style="font-size:14px; color:#252525; padding-bottom: 8px;">A moderator has reviewed your reporting of the above topic as inappropriate.
            </td>
        </tr>
        <tr>
            <td style="font-size:14px; color:#252525; padding-bottom: 32px;">You can see the decision below.</td>
        </tr>
        <tr>
            <td valign="middle">
                <table class="info_table">
                    <tbody>
                        <tr>
                            <td>
                                <p
                                    style="font-size: 13px;font-weight:600;color:#727C84; line-height: 16px;padding-bottom:0;">
                                    Report reference number</p>
                                <p
                                    style="font-size:16px;font-weight:600;color:#2C3B47;line-height:24px;padding-bottom:16px;">
                                    {{report.id}}
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p
                                    style="font-size: 13px; font-weight:600;color:#727C84; line-height: 16px;padding-bottom:0;">
                                    Report created</p>
                                <p
                                    style="font-size:16px;font-weight:600;color:#2C3B47;line-height:24px;padding-bottom:16px;">
                                    {{report.createdAt}}
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p
                                    style="font-size: 13px; color:#727C84;font-weight:600;line-height:16px;padding-bottom:0;">
                                    Report category</p>
                                <p
                                    style="font-size:16px;font-weight:600;color:#2C3B47;line-height:24px;padding-bottom:16px;">
                                    {{report.moderatedReasonType}}
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p
                                    style="font-size: 13px; color:#727C84;font-weight:600;line-height: 16px;padding-bottom:0;">
                                    Reasoning
                                </p>
                                <p style="font-size:16px;font-weight:600;color:#2C3B47;line-height:24px;padding-bottom:16px;">
                                    {{report.moderatedReasonText}}
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b>
                                    When accessing the topic, users will now see an overlay, warning about violations in
                                    the topic. However, viewers have an option to bypass the overlay and view the topic
                                    content at their own risk anyway
                                </b>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td valign="middle">
                <table class="info_table">
                    <tbody>
                        <tr>
                            <td>
                                <h1>What happens next?</h1>
                                <p>
                                <ol>
                                    <li class="li">Admins and editors of the topic have been notified of the report. They
                                        can edit the topic at any time, to rectify the issues you raised. They can then
                                        send the topic to moderators for re-review.</li>
                                    <li class="li">If a re-review is requested, moderators will review the topic and remove
                                        restrictions if the issues have been rectified.</li>
                                    <li class="li">Until such time, access to the topic will remain restricted (users will get a warning prior to entering the topic).</li>
                                </ol>
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td style="padding-bottom: 32px;">
                <p
                    style="font-size:14px; line-height: 16px; border-radius:16px; padding: 10px; background-color: #2C3B47; color:#FFFFFF;text-align: center;">
                    <a href="{{linkViewTopic}}" target="_blank"
                        style="color:#FFFFFF; text-decoration: none; font-weight: 600;">View topic</a>
                </p>
            </td>
        </tr>
        <tr>
            <td valign="bottom" style="border-top: 1px solid #E1E7EE;padding-top:16px;font-size: 14px;">
                <a href="{{linkViewModerationGuidelines}}">You can find more details about Citizen OS moderation process
                    here.</a>
            </td>
        </tr>

        <tr>
            <td style="padding-top:16px;font-size: 14px;">Thank you! Together we can maintain a high quality of content
                in Citizen OS user community.</td>
        </tr>
    </tbody>
</table>
