<!-- E-mail sent to User who reports a Topic -->
<table id="bodyHeader" width="100%">
    <tbody>
        <tr>
            <td valign="middle" style="padding:0;height: 88px;">
                <p style="font-size:13px; font-weight:bold;color:#2C3B47;padding:0;">You have reported topic</p>
                <p style="font-size:22px; font-weight:bold;color:#2C3B47;">{{topic.title}}</p>
            </td>
        </tr>
    </tbody>
</table>
<table id="bodyContent" border="0" cellpadding="10" cellspacing="0" width="100%">
    <tbody>
        <tr>
            <td valign="middle" style="padding-bottom: 16px;">
                Hi {{userReporter.name}}!
            </td>
        </tr>

        <tr>
            <td style="font-size:14px; color:#252525; padding-bottom: 32px;" width="100%">You have successfully reported a topic for review by Citizen OS moderators</td>
        </tr>

        <tr>
            <td>
                <h1>What happens next?</h1>
                <p>
                <ol>
                    <li class="li">Moderators will review the report. If they agree with the issues raised, access to the topic will be restricted (users will get a warning prior to seeing the topic).
                    </li>
                    <li class="li">Meanwhile admins and editors of the topic will be invited to edit it, in order to resolve the issues. If they do so, the moderators will review the topic, and remove restrictions if all issues have been resolved.
                    </li>
                    <li class="li">
                        We will notify you if:
                        <ul>
                            <li>moderators apply restrictions to the topic</li>
                            <li>all issues have been resolved and restrictions removed.</li>
                        </ul>
                    </li>
                </ol>
                </p>
            </td>
        </tr>
        <tr>
            <td valign="middle">

                <table class="info_table">
                    <tbody>
                        <tr>
                            <td>
                                <p style="font-size: 13px; color:#727C84; line-height: 16px;padding:0;">Topic
                                    title</p>
                                <p style="color:#1168A8; font-size: 16px;font-weight: 600;line-height:24px;padding: 0;">
                                    <a href="{{linkViewTopic}}">{{topic.title}}</a>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding-top: 16px">
                                <p style="font-size: 13px;color:#727C84;line-height:16px;padding:0;">Report
                                    reference number</p>
                                <p style="font-size: 16px;font-weight: 600;line-height:24px;padding: 0;">
                                    {{report.id}}
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding-top: 16px">
                                <p style="font-size: 13px;color:#727C84;line-height:16px;padding:0;">Report category</p>
                                <p style="font-size: 16px;font-weight: 600;line-height:24px;padding: 0;">
                                    {{report.type}}
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding-top: 16px">
                                <p style="font-size: 13px;color:#727C84;line-height:16px;padding:0;">Your
                                    explanation</p>
                                <p style="font-size: 16px;font-weight: 600;line-height:24px;padding: 0;">
                                    {{report.text}}
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </td>
        </tr>
        <tr>
            <td style="padding-bottom: 32px;">
                <p
                    style="font-size:14px; line-height: 16px; border-radius:16px; padding: 10px; background-color: #2C3B47; color:#FFFFFF;text-align: center;">
                    <a href="{{linkViewTopic}}" target="_blank"
                        style="color:#FFFFFF; text-decoration: none; font-weight: 600; padding: 9px 140px;">Review topic</a>
                </p>
            </td>
        </tr>
        <tr>
            <td valign="middle" style="border-top: 1px solid #E1E7EE;padding-top:16px;font-size:14px;">
                You can also leave it as is, but moderators may still decide to have it hidden
                by default (users will get a warning prior to seeing your topic).
            </td>
        </tr>
        <tr>
            <td valign="bottom" style="padding-top:16px;font-size: 14px;">
                <a href="{{linkViewModerationGuidelines}}">You can find more details about Citizen OS moderation process
                    here.</a>
            </td>
        </tr>

        <tr>
            <td style="padding-top:16px;font-size: 14px;">Thank you! Together we can maintain a high quality of content in Citizen OS user community.</td>
        </tr>
    </tbody>
</table>
