<!-- E-mail sent to User who reports a Topic -->
<p>
    Hello <span class="blue">${{reporter.name}}</span>,
</p>
<p class="important">
    Your report <span class="blue">#{{report.id}}</span> regarding topic "<a href="{{linkViewTopic}}">{{topic.title}}</a>" has been sent to Citizen OS
    moderators
</p>

<h1>What happens next?</h1>
<p>
<ol>
    <li class="li">Moderators will review the report. If a violation is confirmed, access to the topic will be restricted and a warning of
        inappropriate content will be displayed.
    </li>
    <li class="li">Meanwhile admins and editors of the reported topic will be asked to modify it. When topic's inappropriate content has been
        improved, the moderators will once again review and will remove restrictions if all violations have been cleared.
    </li>
    <li class="li">
        We will notify you if:
        <ul>
            <li>moderators apply restrictions to the topic</li>
            <li>all violations have been cleared and restrictions removed.</li>
        </ul>
    </li>
</ol>
</p>
<p>You can find more details about Citizen OS moderation process <a href="{{linkViewModerationGuidelines}}">here</a>.</p>

<h1>Report summary</h1>
<p>Topic: <span class="bold">"<a href="{{linkViewTopic}}">{{topic.title}}</a>"</span>
<p>Report reference number: <span style="font-weight: bold;">{{report.id}}</span>
<p>Type of violation: <span style="font-weight: bold;">"{{report.type}}"</span>
<p>Your explanation: <span style="font-weight: bold;">"{{report.type}}"</span>

<hr/>
<p>
    Thank you for helping us ensure a high quality of content in Citizen OS user community!
</p>
