<table id="bodyHeader" width="100%">
    <tbody>
        <tr>
            <td valign="middle" style="padding:0;height: 88px;">
                <p style="font-size:13px; font-weight:bold;color:#2C3B47;padding:0;">Your argument has been
                    reported in</p>
                <p style="font-size:22px; font-weight:bold;color:#2C3B47;">{{topic.title}}</p>
            </td>
        </tr>
    </tbody>
</table>
<table id="bodyContent" border="0" cellpadding="10" cellspacing="0" width="100%">
    <tbody>
        <tr>
            <td valign="middle" style="padding-bottom: 16px;">
                Hi {{toUser.name}}!
            </td>
        </tr>
        <tr>
          <td style="font-size:14px; color:#252525; padding-bottom: 8px;">Your argument has been reported as
                inappropriate. Please see the reasons below.</td>
        </tr>
        <tr>
            <td valign="middle">
                <table class="info_table">
                    <tbody>
                        <tr>
                            <td width="70">
                                <img src="cid:icon_argument.png" />
                            </td>
                            <td>
                                {{#comment.subject}}
                                <p
                                    style="font-size:16px;font-weight:600;color:#1168A8;line-height:24px;padding-bottom:0;">
                                    {{comment.subject}}
                                </p>
                                {{/comment.subject}}
                                <p style="font-size:14px; color:#2C3B47;line-height:16px;padding-bottom:0;">
                                    {{comment.text}}
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table class="info_table" >
                    <tbody>
                        <tr>
                            <td style="font-size:16px;font-weight:600;color:#2C3B47;line-height:24px;">
                                {{report.type}}
                            </td>
                        </tr>
                        {{#report.text}}
                        <tr>
                            <td style="font-size:14px;line-height:20px; color:#2C3B47;">
                                {{report.text}}
                            </td>
                        </tr>
                        {{/report.text}}
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td style="padding-bottom: 32px;">
                <p
                    style="font-size:14px; line-height: 16px; border-radius:16px; padding: 10px; background-color: #2C3B47; color:#FFFFFF;text-align: center;">
                    <a href="{{linkViewTopic}}" target="_blank"
                        style="color:#FFFFFF; text-decoration: none; font-weight: 600;">Edit or delete your argument</a>
                </p>
            </td>
        </tr>
        <tr>
            <td valign="bottom" style="border-top: 1px solid #E1E7EE;padding-top:16px;font-size:14px;">
                You can also leave it as is, but moderators may decide to have it hidden
                by default (users will get a warning prior to seeing your argument).
            </td>
        </tr>
    </tbody>
</table>
