<!-- E-mail sent to Topic members of a reporter Topic -->
<table id="bodyHeader" width="100%">
    <tbody>
        <tr>
            <td valign="middle" style="padding:0;height: 88px;">
                <p style="font-size:13px; font-weight:bold;color:#2C3B47;padding:0;">Your topic has
                    been reported</p>
                <p style="font-size:22px; font-weight:bold;color:#2C3B47;">{{topic.title}}</p>
            </td>
        </tr>
    </tbody>
</table>
<table id="bodyContent" border="0" cellpadding="10" cellspacing="0" width="100%">
    <tbody>
        <tr>
            <td valign="middle" style="padding-bottom: 16px;">
                Hi {{userMember.name}}!
            </td>
        </tr>
        <tr>
            <td style="font-size:14px; color:#252525; padding-bottom: 8px;">Someone has reported your topic as inappropriate.</td>
        </tr>
        <tr>
            <td style="font-size:14px; color:#252525; padding-bottom: 8px;">All admins and editors of the topic, as well as Citizen OS moderators,
                have been notified. Please review the reasons below.</td>
        </tr>
        <tr>
            <td style="font-size:14px; color:#252525; padding-bottom: 32px;">Review the reason below.</td>
        </tr>
        <tr>
            <td valign="middle">
                <table class="info_table">
                    <tbody>
                        <tr>
                            <td style="font-size:16px;font-weight:600;color:#2C3B47;line-height:24px;">
                                {{report.type}}
                            </td>
                        </tr>
                        {{#report.text}}
                        <tr>
                            <td style="font-size:14px;line-height:20px; color:#2C3B47;">
                                {{report.text}}
                            </td>
                        </tr>
                        {{/report.text}}
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td valign="middle">
                <table class="info_table">
                    <tbody>
                        <tr>
                            <td>

                                <h1>What happens next?</h1>
                                <p>
                                <ol>
                                    <li class="li">Moderators are currently reviewing the topic. If they agree with the reporter, they will restrict access to the topic (users will get a warning prior to entering the topic).
                                    </li>
                                    <li class="li">However, you and fellow topic admins or editors can edit the topic at any time, to
                                        rectify any issues raised. The topic can then be sent for review by Citizen OS
                                        moderators.
                                    </li>
                                    <li class="li">If a review is requested, moderators will review the topic and withdraw
                                        all restrictions if the issues have been rectified.</li>
                                    <li class="li">
                                        We will notify you if:
                                        <ul>
                                            <li>moderators apply restrictions to the topic</li>
                                            <li>a review is carried out and restrictions withdrawn.</li>
                                        </ul>
                                    </li>
                                </ol>
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td style="padding-bottom: 32px;">
                <p
                    style="font-size:14px; line-height: 16px; border-radius:16px; padding: 10px; background-color: #2C3B47; color:#FFFFFF;text-align: center;">
                    <a href="{{linkViewTopic}}" target="_blank"
                        style="color:#FFFFFF; text-decoration: none; font-weight: 600;">Review topic</a>
                </p>
            </td>
        </tr>
        <tr>
            <td valign="bottom" style="border-top: 1px solid #E1E7EE;padding-top:16px;font-size: 14px;">
                <a href="{{linkViewModerationGuidelines}}">You can find more details about Citizen OS moderation process
                    here.</a>
            </td>
        </tr>

        <tr>
            <td style="padding-top:16px;font-size: 14px;">Thank you! Together we can maintain a high quality of content in Citizen OS user community.</td>
        </tr>
    </tbody>
</table>
