<!-- E-mail sent to moderators when a Topic is reported -->
<table id="bodyHeader" width="100%">
    <tbody>
        <tr>
            <td valign="middle" style="padding:0;height: 88px;">
                <p style="font-size:13px; font-weight:bold;color:#2C3B47;padding:0;">A topic has
                    been reported</p>
                <p style="font-size:22px; font-weight:bold;color:#2C3B47;">{{topic.title}}</p>
            </td>
        </tr>
    </tbody>
</table>
<table id="bodyContent" border="0" cellpadding="10" cellspacing="0" width="100%">
    <tbody>
        <tr>
            <td valign="middle" style="padding-bottom: 16px;">
                Hi {{userModerator.name}}!
            </td>
        </tr>

        <tr>
            <td style="font-size:14px; color:#252525; padding-bottom: 8px;">A topic has been reported as inappropriate, and requires review by a moderator.</td>
        </tr>
        <tr>
            <td style="font-size:14px; color:#252525; padding-bottom: 32px;">Please review the reasons below.</td>
        </tr>
        <tr>
            <td valign="middle">
                <table class="info_table">
                    <tbody>
                        <tr>
                            <td style="font-size:16px;font-weight:600;color:#2C3B47;line-height:24px;">
                                {{report.type}}
                            </td>
                        </tr>

                        {{#report.text}}
                        <tr>
                            <td style="font-size:14px;line-height:20px; color:#2C3B47;">
                                {{report.text}}
                            </td>
                        </tr>
                        {{/report.text}}
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td style="padding-bottom: 32px;">
                <p
                    style="font-size:14px; line-height: 16px; border-radius:16px; padding: 10px; background-color: #2C3B47; color:#FFFFFF;text-align: center;">
                    <a href="{{linkViewTopic}}" target="_blank"
                        style="color:#FFFFFF; text-decoration: none; font-weight: 600;">Review topic</a>
                </p>
            </td>
        </tr>
        <tr>
            <td valign="bottom" style="border-top: 1px solid #E1E7EE;padding-top:16px;font-size: 14px;">
                <a href="{{linkViewModerationGuidelines}}">You can find more details about Citizen OS moderation process
                    here.</a>
            </td>
        </tr>

        <tr>
            <td>Thank you! Together we can maintain a high quality of content in Citizen OS user community.</td>
        </tr>
    </tbody>
</table>
