<!-- E-mail sent to moderators when a Topic report is sent for a review -->
<!-- E-mail sent to User who reported a Topic -->
<!-- E-mail sent to Topic members of a reported Topic -->
<table id="bodyHeader" width="100%">
    <tbody>
        <tr>
            <td valign="middle" style="padding:22px 22px 22px 0;">
                <p id="header_title_description">A report has been resolved in topic</p>
                <p id="header_title">{{topic.title}}</p>
            </td>
        </tr>
    </tbody>
</table>
<table id="bodyContent" border="0" cellpadding="10" cellspacing="0" width="100%">
    <tbody>
        <tr>
            <td valign="middle" width="100%" style="padding-bottom: 32px;">
                Hi {{userModerator.name}}!
            </td>
        </tr>
        <tr>
            <td width="100%" style="padding-bottom: 32px;">
                A topic, that was reported as inappropriate, has been revised by an admin/editor of that topic.
            </td>
        </tr>

        <tr>
            <td width="100%" style="padding-bottom: 32px;">
                You or another admin originally decided to restrict access to the topic.
            </td>
        </tr>
        <tr>
            <td width="100%" style="padding-bottom: 32px;">
                They have submitted their changes for review and have provided the following explanation.
            </td>
        </tr>
        <tr>
            <td width="100%">
                Please review the topic and decide if it is now in compliance with guidelines and access restriction should be removed or not.
            </td>
        </tr>
        <tr>
            <td>
                <p class="info_heading">Message</p>
            </td>
        </tr>
        <tr>
            <td valign="middle">
                <table class="message_table">
                    <tbody>
                        <tr>
                            <td style="font-size: 14px;font-weight: 400;line-height: 20px;">
                                {{reviewRequestText}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td><p class="info_heading">Original report details</p></td>
        </tr>
        <tr>
            <td valign="middle">
                <table class="info_table">
                    <tbody>
                        <tr>
                            <td>
                                <p class="info_row_heading">Topic</p>
                                <p style="color:#1168A8; font-size: 16px;font-weight: 600;line-height: 24px;padding-bottom:16px;">
                                    {{topic.title}}
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p class="info_row_heading">Type of violation</p>
                                <p style="font-size: 16px;font-weight: 600;line-height: 24px;padding-bottom:16px;">
                                    {{report.moderatedReasonType}}
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p class="info_row_heading">Reasoning
                                </p>
                                <p style="font-size: 16px;font-weight: 600;line-height: 24px;padding-bottom:16px;">
                                    {{report.moderatedReasonText}}
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td style="padding-bottom: 32px;padding-top: 16px;">
                <p class="submit_button">
                    <a href="{{linkViewTopic}}" target="_blank"
                        style="color:#FFFFFF; text-decoration: none; font-weight: 600;padding: 9px 100px;">Review topic</a>
                </p>
            </td>
        </tr>
        <tr>
            <td valign="bottom" style="border-top: 1px solid #E1E7EE;padding-top:16px;font-size: 14px;">
                <a href="{{linkViewModerationGuidelines}}">Learn more about the Citizen OS moderation process
                    here.</a>
            </td>
        </tr>
    </tbody>
</table>