<!-- E-mail sent to Topic members of a reported Topic -->
<table id="bodyHeader" width="100%">
    <tbody>
        <tr>
            <td valign="middle" style="padding:22px 22px 22px 0;">
                <p id="header_title_description">
                    A moderator has reviewed the reporting of
                </p>
                <p id="header_title">{{topic.title}}</p>
            </td>
        </tr>
    </tbody>
</table>
<table id="bodyContent" border="0" cellpadding="10" cellspacing="0" width="100%">
    <tbody>
        <tr>
            <td valign="middle" style="padding-bottom: 32px;">
                Hi {{userMember.name}}!
            </td>
        </tr>

        <tr>
            <td width="100%">
                A moderator has reviewed the reporting of your Citizen OS topic as inappropriate. You can see the decision below.
            </td>
        </tr>
        <tr>
            <td>
                <p class="info_heading">Report details</p>
            </td>
        </tr>
        <tr>
            <td valign="middle">
                <table class="info_table">
                    <tbody>
                        <tr>
                            <td>
                                <p class="info_row_heading">
                                    Report reference number
                                </p>
                                <p
                                    style="font-size:16px;font-weight:600;color:#2C3B47;line-height:24px;padding-bottom:16px;">
                                    {{report.id}}
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p class="info_row_heading">
                                    Report created
                                </p>
                                <p
                                    style="font-size:16px;font-weight:600;color:#2C3B47;line-height:24px;padding-bottom:16px;">
                                    {{report.createdAt}}
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p class="info_row_heading">
                                    Report category
                                </p>
                                <p
                                    style="font-size:16px;font-weight:600;color:#2C3B47;line-height:24px;padding-bottom:16px;">
                                    {{report.moderatedReasonType}}
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p class="info_row_heading">
                                    Reasoning
                                </p>
                                <p
                                    style="font-size:14px;line-height:20px;font-weight:600;color:#2C3B47;padding-bottom:16px;">
                                    {{report.moderatedReasonText}}
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <p class="info_heading">What happens next?</p>
            </td>
        </tr>
        <tr>
            <td valign="middle">
                <table class="info_table">
                    <tbody>
                        <tr>
                            <td>
                                <ol>
                                    <li class="li">
                                        You and other admins or editors of the topic can edit the topic's content at any time, to rectify the issues. You can then send the topic to moderators for review.</li>
                                    <li class="li">
                                        If a review is requested, moderators will check the topic and remove restrictions if the issues have been rectified.
                                    </li>
                                    <li class="li">
                                        Until such time, access to the topic will remain restricted (users will get a warning prior to entering your topic).
                                    </li>
                                </ol>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td style="padding-bottom: 32px;padding-top: 16px;">
                <p class="submit_button">
                    <a href="{{linkViewTopic}}" target="_blank"
                        style="color:#FFFFFF; text-decoration: none; font-weight: 600;padding: 9px 100px">Review topic</a>
                </p>
            </td>
        </tr>
        <tr>
            <td valign="bottom" style="border-top: 1px solid #E1E7EE;padding-top:16px;font-size: 14px;">
                <a href="{{linkViewModerationGuidelines}}">Learn more about the Citizen OS moderation process
                    here.</a>
            </td>
        </tr>

    </tbody>
</table>
