<table id="bodyHeader" width="100%">
    <tbody>
        <tr>
            <td valign="middle" style="padding:22px 22px 22px 0;">
                <p id="header_title_description">A vote reminder for</p>
                <p id="header_title">{{topic.title}}</p>
            </td>
        </tr>
    </tbody>
</table>
<table id="bodyContent" border="0" cellpadding="10" cellspacing="0" width="100%">
    <tbody>
        <tr>
            <td valign="middle" width="100%" style="padding-bottom: 16px;">
                Hi {{toUser.name}}!
            </td>
        </tr>

        <tr>
            <td valign="middle">
                {{#voteEndsAt}}
                <p width="100%">
                    The vote deadline is coming close! {{#daysLeft}}<b>You have only {{daysLeft}} left to cast your vote</b>{{/daysLeft}}
                </p>
                {{/voteEndsAt}}
                {{^voteEndsAt}}
                    Please cast your vote!
                {{/voteEndsAt}}
            </td>
        </tr>

        <tr>
            <td valign="middle">
                <table class="info_table" style="background-color: #F1FAF3;">
                    <tbody>
                        <tr>
                            <td>
                                <img src="cid:Voting.png" />
                            </td>
                            <td style="font-size: 16px;line-height:24px;">
                                <b>Votes collected: {{voteCount}}</b>{{#votesCountRequired}}/{{votesCountRequired}}{{/votesCountRequired}}
                            </td>
                            {{#voteEndsAt}}
                            <td style="font-size: 16px;line-height:24px;">
                                Deadline: {{voteEndsAt}}
                            </td>
                            {{/voteEndsAt}}
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <p class="submit_button">
                    <a href="{{linkViewTopic}}" target="_blank"
                        style="color:#FFFFFF; text-decoration: none; font-weight: 600;padding: 9px 60px;">
                        Cast your vote
                    </a>
                </p>
            </td>
        </tr>
        <tr>
            <td valign="bottom" height="30" style="border-top: 1px solid #E1E7EE;padding-top:16px;">
                <p style="font-size:14px;">
                    Please note: You must log in using the same email address ({{toUser.email}}) to access this topic.
                </p>
            </td>
        </tr>

    </tbody>
</table>
